body {
    background-color: #040404;
}
   
     .rectangle {
    background-color:#b6b6b6;
    width: 150px;
    height: 90;
    position: fixed;
    top: 5px;
    right: 350px;
 }
 
  .triangle1 { 
    width: 0; 
    height: 0; 
    border-bottom: 80px solid #b6b6b6; 
    border-left: 60px solid transparent;
    position: fixed;
    top: 5px;
    right: 500;

}

.triangle2 { 
    width: 0; 
    height: 0; 
    border-bottom: 80px solid #b6b6b6; 
    border-right: 60px solid transparent;
    position: fixed;
    top: 5px;
    right: 290;

}

.rectangle-center {
    background-color:#b6b6b6;
    width: 270px;
    height: 160;
    position: fixed;
    top: 85px;
    right: 290px;
 }
 
 .triangle3 { 
    width: 0; 
    height: 0; 
    border-top: 150px solid #b6b6b6; 
    border-left: 100px solid transparent;
    position: fixed;
    top: 245;
    right: 460;

}

.triangle4 { 
    width: 0; 
    height: 0; 
    border-top: 150px solid #b6b6b6; 
    border-right: 100px solid transparent;
    position: fixed;
    top: 245;
    right: 290;

}

.rectangle-bottom {
    background-color:#b6b6b6;
    width:75px;
    height: 160;
    position: fixed;
    top: 234px;
    right: 387px;
 }
 
.triangle-cheek1 { 
      width: 0; 
      height: 0; 
      border-bottom: 100px solid #595959; 
      border-right: 60px solid transparent;
      position: fixed;
      top: 145px;
      right: 500;
}

.triangle-cheek2 { 
      width: 0; 
      height: 0; 
      border-bottom: 100px solid #595959; 
      border-left: 60px solid transparent;
      position: fixed;
      top: 145px;
      right: 290;
}      

.trapezoid { 
    border-bottom: 100px solid red; 
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    height: 0; 
    width: 100px; 
    
}