body {
    background-color: #f5d0f1;
}
h1 {
    color: black;
    font-family: IMPACT, sans-serif;
    font-size: 70;
    text-align: center;
}
p {
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 30;
    text-align: center;
}
a:link {
    color: black;
    font-family: helvetica;
    font-size: 25;
    text-align: center;
}

a:hover {
    font-size: 30;
}
div {
    text-align:center;
}

.displayed {
    width: 630px;
    height: 470px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
a:hover {
    transform: skewY(25deg);
}