.circle1 {
    background-color: #282422;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: fixed;
    top: 300px;
    right: 200px;

}

.circle2 {
    background-color: #282422;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 250px;
}

.trapezoid { 
    border-bottom: 300px solid #282422; 
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent; 
    width: 195px;
    position: fixed;
    top: 100px;
    right: 212px;

